root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
tab_width = 4

[*.md]
trim_trailing_whitespace = false

[*.json,yaml,yml]
indent_size = 2
