name: validate

on:
  workflow_dispatch: {}
  push:
    branches: ["main"]
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  
jobs:
  use_s3cmd:
    runs-on: ubuntu-latest
    name: Validate Project
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm i
          mv dist/index.js old
          npm run build
          if cmp --silent -- old dist/index.js; then
            exit 0
          else
            exit 1
          fi
